/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26 juin 2017, 16:31:09
    Author     : sebastien
*/

.tchat-body {
    /*min-height: 800px !important;*/
    padding: 0;
    background-color: grey
}

.tchat-text {
    min-height: 600px;
    max-height: 600px;
    border: 1px solid grey;
    /*margin: 5px;*/
    overflow: auto
}
.errormessage{
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: rosybrown;
    color: white;
    text-align: center;
    float: left;
    width: 96%;
}
.errormessage::after{
    content :"";
    display: block;
    clear: both
}
.othertext, .mestext{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: aliceblue;
    width: calc(100% - 30%);
    word-break: break-word;
}
.othertext::after, .mestext::after{
    content: "";
    display: block;
    clear: both
}
.mestext{
    float: right
}
.othertext{
    float: left
}

.hoveractive {
  background-color: red !important
}
