<div class="row" ng-controller="guestCtrl" style="margin: 0 5px">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Joueur connecter</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="guest in guests | filter : q" class="list-group-item">
                        <div ng-if="guest == me">
                            Guest{{guest}} (me)
                        </div>
                        <div ng-if="guest != me">
                            Guest{{guest}} <span class="pull-right" id="sender{{guest}}"><span class="glyphicon glyphicon-envelope" ng-click='sendInvite(guest)'></span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">

        </div>
    </div>
    <div class="col-md-3" ng-controller="tchatCtrl">
        <div ng-include="'view/tchat.html'">
        </div>
    </div>
</div>
