<div class="row" ng-init="verifMail()">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-body">Guest{{me}}</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group" ng-show="message != 0 ">
                    <li class="list-group-item" ng-repeat="mail in message">
                        <p>Message de : Guest{{mail.emeteur}}</p>
                        <p>Sujet : {{mail.title}}</p>
                        <a href="#!/mail/{{mail.emeteur}}" ng-click="MailConservation(message)">Lire le mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-include="'view/includeView/mailbox.html'"></div>
    </div>
</div>
