<div class="panel panel-primary tchat-body">
    <div class="panel-heading">
        <h4 class="panel-title">Tchat Guest{{je}}<span class="pull-right btn" ng-click="toggleTchat()"><span class="glyphicon glyphicon-remove"></span></span> <div class="clearfix"></div></h4>
    </div>
    <div class="panel-body tchat-body" id="tchatbody">
        <div class="tchat-text" id="tchattext"></div>
        <form ng-submit="tchatinput()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Votre message" id="inputtchat">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="tchat-input">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
