<div ng-show="param != null">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">{{message[0].title}}</h4>
    </div>
    <div class="panel-body">
      <div contenteditable="false">
        {{message[0].message}}
      </div>
      <button type="button" id="response" class="btn btn-success" ng-click="responseMail()">Repondre a Guest{{message[0].emeteur}}</button>
      <div id="text-response">
        <form ng-submit="responseMail()">
          <textarea ng-model="receive" rows="8" cols="80"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
