<div id="MailModal" class="modal fade" role="dialog" ng-controller="guestCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Envoyer un message perso</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin: 0 15px">
                    <form ng-submit="messageSender()" ng-controller="mailCtrl">
                        <div class="form-group">
                            <label>
                                Titre du sujet : {{title}}
                            </label>
                            <input type="text" ng-model="title" class="form-control">
                        </div>
                        <div class="form-group">
                          <button type="button" ng-click="addHTML('b')"><span class="glyphicon glyphicon-bold"></span></button>
                        </div>
                        <div class="form-group">
                            <label>Texte du message :</label>
                            <p ng-model="textearea" id="mailtexte" class="form-control" contenteditable="true"></p>
                        </div>
                        <div class="form-group">
                            <div ng-show="textearea.length != 0">
                              <label>Preview : </label>
                                <div class="form-control" contenteditable="false">{{integrationHTML(textearea)}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">J'ai relu et j'envoie</button>
                            <button type="reset" class="btn btn-danger" ng-click="closeModal()">En faite, non j'ai plus envie</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
